# Created by .ignore support plugin (hsz.mobi)
### Python template
/AndPotap/DBs/BASE DE SALDOS FHIPO SOCIAL PESOS_AGOSTO-18.xlsx.txt
/AndPotap/DBs/Base de originacion FHIPO.xlsx
/AndPotap/DBs/BASE DE SALDOS FHIPO IT PESOS AGOSTO-18.xlsx.txt
/AndPotap/DBs/FLUJO DE EFECTIVO DE SALDOS FHIPO SOCIAL PESOS_AGOSTO-18.xlsx.txt
/AndPotap/DBs/REPORTE_RELACION_LABORAL_SOC_AGO18.txt
/AndPotap/DBs/FLUJO DE EFECTIVO FHIPO IT PESOS AGOSTO-18.xlsx.txt
/AndPotap/DBs/REPORTE_RELACION_LABORAL_PSS_AGO18.txt
/AndPotap/DBs/core_y.txt
/AndPotap/DBs/core.txt
/AndPotap/DBs/core_sample.txt
.Rproj.user
/AndPotap/DBs/zip.txt
/AndPotap/DBs/mix.txt
/AndPotap/DBs/mix_instance.txt
/AndPotap/.Rhistory
/.Rhistory
/.DS_Store
/AndPotap/.RData
/AndPotap/DBs/core_clusters.txt
/AndPotap/DBs/core_raw.txt
/AndPotap/DBs/core_clusters_no_eff_pay.txt
/AndPotap/DBs/zip_hlr.txt
/AndPotap/DBs/core_clusters2.txt
/AndPotap/DBs/core_sample2.csv
/AndPotap/DBs/vendor.txt
/AndPotap/Tableau/cluster_analysis_v01.twb
/AndPotap/Tableau/Relacion_Lab_EDA.twb
/AndPotap/Tableau/EDA_v02.twb
/.rds

